*{
    margin: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#slide-show-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 70px;
    /* background-color: cornflowerblue; */
    z-index: 200;
    opacity: 100%;
    bottom: 25px;
    right: 25px;
}

#slide-show-btn {
    width: 55px;
    opacity: 30%;
    display: flex;
    cursor: pointer;

    &:hover {
        width: 60px;
        opacity: 70%;
    }
}

#slide-show-close-btn{
    width: 60px;
    opacity: 100%;
    display: none;
    cursor: pointer;
}

#slide-show-mode-container {
    position: absolute;
    width: 100vw;
    /* background-color: cornflowerblue; */
    text-align: center;
    z-index: 200;
    display: none;
}

#slide-show-heading {
    margin: 50px 0;
    color: #ffffff;
    font-size: 35px;
    font-family: Geo;
    opacity: 50%;
    font-weight: 100;
}

#show-grid-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 70px;
    /* background-color: cornflowerblue; */
    z-index: 200;
    opacity: 100%;
    bottom: 100px;
    right: 25px;
}

#show-grid-btn {
    width: 40px;
    opacity: 30%;
    display: flex;
    cursor: pointer;

    &:hover {
        width: 45px;
        opacity: 70%;
    }
}

#grid-close-btn {
    width: 45px;
    opacity: 100%;
    display: none;
    cursor: pointer;
}


/* #0b3d91 nasa blue color */
/* #fc3d21 nasa red color*/

#planet-button-list {
    width: 100%;
    /* border: white 1px solid; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 35px;

}

.planet-btn {
    margin: 0 5px;
    padding: 5px;
    border-radius: 4px;
    background-color: black;
    color: grey;
    border: solid 1px rgb(80, 80, 80);
    cursor: pointer;
    font-size: 20px;
    font-family: Geo;

    &:hover {
        background-color: rgb(40, 40, 40);
        color: black;
        transition: 2ms;
    }
}

#info-container {
    position: absolute;
    width: 425px;
    height: 525px;
    background-color: rgba(0, 0, 0, 0.8);
    right: 100px;
    top: 100px;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 7px;
    backdrop-filter: blur(50px);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

#close-info-container-btn {
    cursor: pointer;
}

#info-toggle-btn-container{
    position: absolute;
    cursor: pointer;
    right: 50px;
    top: 50px;
    display: none;
}

#info-toggle-btn {
    width: 24px;
    /* animation-name: pulseInfo;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
}

/* @keyframes pulseInfo {
    from { width: 24; }
    to { width: 28; }
} */


#info-header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #ffffff; */
    border-radius: 7px;
    width: 100%;
    padding: 10px;
    text-align: center;
    flex-shrink: 1;
}

#info-header {
    color: grey;
    font-size: 30px;
    font-family: Geo;
    justify-self: center;
    
}

#info-container-body {
    color: grey;
    font-size: 20px;
    font-family: Geo;
    /* border: 1px solid rgb(80, 80, 80); */
    border-radius: 7px;
    width: 100%;
    padding: 20px;
    flex-grow: 1;
    overflow: auto;
    scrollbar-color: grey rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}