body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
}

@font-face {
    font-family: nasaFont;
    src: url(./fonts/Nasalization\ Rg.otf);
}

#slide-show-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 70px;
    /* background-color: cornflowerblue; */
    z-index: 200;
    opacity: 100%;
    bottom: 25px;
    right: 25px;
}

#slide-show-btn {
    width: 55px;
    opacity: 30%;
    display: flex;
    cursor: pointer;

    &:hover {
        width: 60px;
        opacity: 70%;
    }
}

#slide-show-close-btn{
    width: 60px;
    opacity: 100%;
    display: none;
    cursor: pointer;
}

#slide-show-mode-container {
    position: absolute;
    width: 100vw;
    /* background-color: cornflowerblue; */
    text-align: center;
    z-index: 200;
    display: none;
}

#slide-show-heading {
    margin: 25px 0;
    color: #ffffff;
    font-family: nasaFont, 'Courier New', Courier, monospace;
    font-size: 20px;
    opacity: 30%;
    font-weight: 100;
}

#show-grid-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 70px;
    /* background-color: cornflowerblue; */
    z-index: 200;
    opacity: 100%;
    bottom: 100px;
    right: 25px;
}

#show-grid-btn {
    width: 40px;
    opacity: 30%;
    display: flex;
    cursor: pointer;

    &:hover {
        width: 45px;
        opacity: 70%;
    }
}

#grid-close-btn {
    width: 45px;
    opacity: 100%;
    display: none;
    cursor: pointer;
}


/* #0b3d91 nasa blue color */
/* #fc3d21 nasa red color*/